<head>
<style>
   body {background-image: url("/images/map.png")}
</style>

</head>

<div id="form-text">
<h1>
<form method="post" action="/weather">
The current weather for: <input type="text" name="post[location]" />
<br>
<input type="submit" name="Search" />
</form>
</h1>
</div>
 
</body>


