<head>
<style>
   body {background-image: url("/images/sunny2.png")}
   h1   {margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)} 
</style>

</head>

<body>

<h1><%= @weather %>
<br/> & 
<br/> <%= @temp %>&degf</h1>
 
</body>